@import "./base.css";


#img {
  float: center;
  margin-right: -20px;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

#titlu_bara_start
{
  font-size: 20px;
  color:blue;
  font-weight: bold;
}

#bara_start
{
font-size: 17px;
color:blue;
font-weight: bold;
}

.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}


#dimensiune
{ 
  text-align: center;
  font-size:30px;
  
}

#dimensiune2
{
   text-align: center;
   color:blue;
   font-size:30px;
   
}
#insereaza
{
  text-align: center;
   color:blue;
   font-size:40px;
}


#imagine {
  width: 40%;
  position:absolute;
}

#search
{
  padding: 20px 32px;
  width: 100%;
}

#vreme{
  text-align: center;
}

#titlu
{
  text-align: center;
  font-size: 35px;
  color:blue;
}

p
{
  font-size: 24px;
}

#primaimagine
{
  max-width: 100%;
  height: auto;
}

#adouaimagine
{
  max-width: 100%;
  height: auto;
}

#atreiaimagine
{
  max-width: 100%;
  height: auto;
}

#apatraimagine
{
  max-width: 100%;
  height: auto;
}




